* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.4em;
}

body {
  background-color: #f23557;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.app-content {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  color: #f0d43a;
  display: grid;
  grid-template-rows: minmax(60px, 100px) minmax( 60px, 120px) 1fr 2fr;
  grid-gap: 2em;
  width: 100vw;
  height: 100vh;
}

.content-wrap {
  width: inherit;
  max-width: 500px;
  margin: 0 auto;
}

.headline,
.zip,
.feel,
.entry {
  margin: 0 1em;
}

.headline {
  padding-top: 2em;
}

#zip,
.myInput {
  display: block;
}

.myInput {
  width: 100%;
}

.entry {
  background: rgba(59, 74, 107, .4);
  height: 16em;
}

.title {
  padding: 0.5em 0.5em 0.3em;
  font-size: 0.8em;
}

#entryHolder {
  padding: 0 0.5em 0.5em;
}

#content {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.degrees {
  font-size: 0.6em;
  position: relative;
  bottom: 7px;
  right: 2px;
}

.footer {
  width: 100%;
  background: #000;
  padding: 2em 1em;
  color: #fff;
  text-align: right;
}

@media only screen and ( min-width: 501px ) {
  .footer {
    padding: 2em 3em;
  }
}

.fa {
  font-size: 1.2em;
  color: #fff;
  margin-right: 0.1em;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display:block;
  font-size: 27px;
  margin-bottom: 0.5em;
}

input {
  display:block;
  height: 40px;
  width: 100%;
  background:#22b2da;
  color: #f0d43a;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  border: none;
  padding: 0.5em;
}

button {
  width: 100%;
  height: 40px;
  background: #3b4a6b;
  color: #f0d43a;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
  margin: auto;
  margin-top: 2em;
}

button:hover {
  background: #3b4a6b63;
  cursor: pointer;
}

h1 {
  font-size: 36px;
}

textarea {
  background:#22b2da;
  color: #f0d43a;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  padding: 0.5em;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */
  color: #f0d43aa1;
  font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #f0d43a;
  font-family: 'Oswald', sans-serif;
}